.shareListElement{
    width: 100%;
    padding: 0.5em 0.5em;
    min-height: 6em;
}

mat-grid-list {
    height: 100%;
}

.headertile {
    height: fit-content;
}

.toolbar-container {
    display: flex;
    flex-direction: row;
}

.toolbar-element {
    margin: 0.5em;
}

.toolbar-container button {
    height: 2.5em;
}

.toolbar-container input {
    height: 2em;
}