<div mat-dialog-content>
    <h1>Contacts</h1>
    <div>
        <form>
            <mat-form-field>
                <mat-label>Add contacts</mat-label>
                <input matInput #friendUrlInput (change)="onFriendInput($event)" placeholder="Paste a friend's user URL here">
            </mat-form-field>
        </form>
        <mat-spinner #loadingSpinner color="primary" diameter="30" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
    </div>

    <mat-table [dataSource]="contactList" class="contacts-list">
        <ng-container matColumnDef="image">
            <td mat-cell *matCellDef="let element"><button mat-icon-button><app-profile-image [profile]="element"></app-profile-image></button></td>
        </ng-container>
        <ng-container matColumnDef="username">
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="friendStatus">
            <td mat-cell *matCellDef="let element"><app-friend-state [publicUrl]="element.publicUrl"></app-friend-state></td>
        </ng-container>
        <tr
            mat-row
            *matRowDef="let row; columns: ['image', 'username', 'friendStatus'];"
        ></tr>
    </mat-table>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close] cdkFocusInitial>Close</button>
</div>